/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

/* Elements selectors */

body {
  color: #41426f;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #41426f;
}

@media (min-width: 768px) {
  /* Trackgenix Info section  */

  .description-container {
    align-self: left;
    width: 50%;
  }

  #trackgenix-img {
    display: none;
  }

  #trackgenix-img-2 {
    display: initial;
    width: 50%;
  }

  #learn-more-2-btn {
    display: initial;
  }

  /* Features section  */

  .features-container {
    width: 50%;
  }

  /* Form */

  .input-container {
    width: 50%;
  }

  #submit-btn {
    width: 230px;
    height: 50px;
    background: #ffffff;
    border-color: white;
    border-radius: 5px;
    color: #41426f;
    font-weight: 600;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }

  /* Links section  */

  .links-container {
    max-width: 33%;
  }

  .bottom-line {
    border-bottom: 0px;
  }

  .right-line {
    padding-right: 120px;
    border-right: 2px solid #41426f;
  }
}

@media (min-width: 1024px) {
  /* Body */

  #flex-container {
    display: flex;
    flex-direction: column;
  }

  .new-flex-container {
    display: flex;
    flex-direction: column;
  }

  main {
    align-self: flex-end;
    width: 80%;
  }

  /* Header */

  #hamburger-menu {
    display: none;
  }

  /* Aside */

  aside {
    display: initial;
  }

  /* About Us */

  #about-us div {
    flex-direction: row-reverse;
  }

  #about-us-img {
    width: 60%;
  }

  /* Footer  */

  footer {
    width: 80%;
    align-self: flex-end;
  }
}
