.line {
  width: 100%;
  margin: 10px 0 10px 0;
  border-bottom: 3px solid #41426f;
}

/* Trackgenix Info Section  */

#trackgenix-title {
  font-size: 30px;
  font-weight: 800;
}

#trackgenix-subtitle {
  font-size: 20px;
}

#trackgenix-img {
  max-width: 95%;
  border-radius: 5px;
}

#learn-more-btn {
  width: 100px;
  height: 37px;
  background: #ffffff;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#learn-more-btn:hover {
  background: #aace9b;
  color: white;
  border-color: #aace9b;
}

/* Features section  */

.features-container div {
  display: flex;
  align-items: center;
}

.features-title {
  color: #000000;
  font-weight: 800;
  font-size: 25px;
}

/* Why Use Trackgenix */

#why-use-title {
  font-size: 40px;
  font-weight: 700;
}

#why-use-section ul li div {
  display: inline-flex;
}

.why-use-subtitle {
  font-size: 16px;
  font-weight: 700;
}

/* Form */

form {
  background-color: #aace9b;
  display: flex;
  flex-direction: column;
}

form input[type="text"] {
  width: 250px;
  height: 30px;
  background-color: #aace9b;
  border: 1px solid #373867;
  border-radius: 4px;
}

form label {
  font-weight: 600;
}

form select {
  width: 80%;
  height: 30px;
  background-color: #aace9b;
  border: 1px solid #373867;
  border-radius: 4px;
}

form textarea {
  background-color: #aace9b;
  border: 1px solid #373867;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

#submit-btn {
  width: 130px;
  height: 40px;
  background: #ffffff;
  border-color: white;
  border-radius: 5px;
  color: #41426f;
  font-weight: 600;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

#submit-btn:hover {
  background: #373867;
  border-color: #373867;
  color: white;
}

/* About Us */

#about-us-title {
  font-size: 30px;
  font-weight: 800;
}

#about-us-img {
  width: 40%;
  height: 100px;
}

/* Links section */

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-container {
  margin: 40px;
  border: 2px solid red;
}

.links-title {
  font-size: 30px;
  font-weight: 800;
}

.links-list li a {
  color: #41426f;
  font-weight: 500;
  text-decoration: none;
}

.border {
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #41426f;
}
