/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

/* Elements selectors */

body {
  /* min-width: 350px; */
  color: #41426f;
  font-family: "Roboto", sans-serif;
}

body * {
  /* border: 2px solid red; */
}

@media (min-width: 768px) {
  #trackgenix-info {
    flex-direction: row;
  }

  .description-container {
    align-self: left;
    width: 50%;
  }

  #trackgenix-img {
    display: none;
  }

  #trackgenix-img-2 {
    display: initial;
    width: 50%;
  }

  #learn-more-2-btn {
    display: initial;
  }

  #features {
    flex-direction: row;
  }

  .features-container {
    width: 50%;
  }

  #links {
    flex-direction: row;
  }

  .input-container {
    width: 50%;
  }

  #submit-btn {
    width: 230px;
    height: 50px;
    margin-top: 10px;
    background: #ffffff;
    border-color: white;
    border-radius: 5px;
    color: #41426f;
    font-weight: 600;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }

  .links-container {
    padding: 0 40px 0 0;
  }

  .bottom-line {
    border-bottom: 0px;
  }

  .right-line {
    border-right: 2px solid #41426f;
  }
}

@media (min-width: 1024px) {
  /* Body */

  body {
    display: flex;
    flex-direction: column;
  }

  /* Header */

  #hamburger-menu {
    display: none;
  }

  /* Aside */

  aside {
    display: initial;
  }

  /* Main */

  main {
    margin-left: 20%;
    /* flex-grow: 1; */
  }
}
